html {
  background: url("https://rawgit.com/relic217/hayride/master/resources/images/shadowsbg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header {
  display: block;
  margin: auto;
  width: 40%;
}

h1, h2, h3 {
  font-family: Garamond;
  color: white;
  text-align: center;
  margin: auto;
  width: 70%;
  -webkit-text-stroke: 0.25px black;
}

h2 {
  font-size: 30px;
  color: #EE7600;
}

#buynow {
  display: block;
  margin: auto;
  width: 7%;

}
